<% if (show_modal) { %>
    <div class="container justify-content-center text-center main-form">
      <h1 class="submission-div"> Thankyou for your submission</h1> 
      <p>Click <a href="/">here</a> to make another submission</p>
      </div>
<script>
  var delay = 5000;
var timeoutID = setTimeout(function() {
    window.location.href = 'http://localhost:5001/';
}, delay);
</script>
<% } %>