
@font-face {
    font-family: Gotham;
    src: url("fonts/Gotham-Thin-Regular.otf") format("opentype");

}

@font-face {
    font-family: GothamBold;
    src: url("fonts/GothamBold.ttf") format("opentype");

}



body, html {
    font-family: 'Gotham';
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background: rgba(255,255,255,0.6000000238418579);
    background-image: url('images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden 

} 

div.jQKeyboardContainer {
    position: absolute;
    left: 30%;
    bottom: 100px;
    background: none;
    box-shadow: none;
}

button.jQKeyboardBtn {
    color:black;
    background-color: white;
}


.main-div {
    height: 100%; 
    backdrop-filter: blur(7px);
    background: rgba(255,255,255,0.6000000238418579); 
    
}
.main{
    font-family: 'Gotham';
    box-shadow: 5px 5px 7px 5px #888888;
     
}
.main h1{
    font-size: 40px;
    text-align:center;
     
}

input{
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}
input[type=submit] {
    width: 100%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

.form-submit {
    width: 60%;
}


.btn-submit {
    float: right;
    font-family: 'Gotham', sans-serif;
    background-color: green;
    border-color: green;
    border-radius: 15px;
    padding: 12px;
    text-align: center;
}

.input-fields {
    border-radius: 15px;
    padding: 20px;
    height: 50px;
}


.main-form {
    background-color: white;
     height: 100vh; 
    width: 100vh;
} 

.submission-div {
    padding-top: 20pc;
}

.shadow {
    border-top: 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
}

.total-messages {
    font-family: GothamBold;
    position: absolute;
    bottom: 200px;
    width: 350px;
    padding: 1px;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}




.message-dailog {
    justify-content: space-evenly;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

}
.tree-container {
    bottom: 0;
    padding-left: 10pc;
    background-image:url("images/tree.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left 50px bottom;
    background-attachment: fixed;
    background-size: 50% 80%
}

.messages-box {
    float: right;
    margin-right: 10pc;
    margin-top: 1pc;
}


.up {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent transparent transparent;
  float: left;
  margin-left: -7%;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.up p {
  text-align: center;
  top: 270px;
  transform: rotate(360deg);
  left: -47px;
  position: relative;
  width: 500px;
  height: 93px;
  margin: 0px;
}

.modal {
    text-align: center;
}

.modal::before {
    content: "";      
    display: inline-block;
    height: 100%;    
    margin-right: -4px;
    vertical-align: middle;
}

.modal-dialog { 
    display: inline-block;  
    text-align: left;   
    vertical-align: middle;
}

.submission-name {
    color: var(--neutral-06, #181B21);
    font-family: Gotham;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.submission-content {
    color: var(--neutral-06, #181B21);
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.message-model-icon {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inputfield {
    height: 200px
  } 